<h1><%= t('.paragliding_sites') %></h1>

<br>

<table class='table'>
  <thead>
    <tr>
      <th></th>
      <th><%= t('.actual') %></th>
      <th><%= t('.height') %></th>
      <th><%= t('.wind') %></th>
      <th><%= t('.actions') %></th>
    </tr>
  </thead>

<% @places.each do |place| %>
    <tr>
      <td class='span5'>
        <h2><%= link_to place.name, place %></h2>
        <br>
        distance...
      </td>
      <td><%= (rand * 10).to_i  %> paraglide right now</td>
      <td class='span2'><%= place.height %></td>
      <td class='span3'><%= wind( place ) %></td>
      <td class='span2'>
        <%= link_to t('.open'), place, class: 'btn' %>
        <%= link_to t('.starts'), place, class: 'btn' %>
        <%= link_to t('.paraglide_number'), place, class: 'btn' %>
      </td>
    </tr>
<% end %>

</table>

<br>

<%= link_to t('.new_paragliding_site'), new_place_path, class: 'btn btn-primary' %>
