<h1><%= t('.paragliding_sites') %></h1>

<br>

<% @places.each do |place| %>
    <div class='row-fluid'>
      <div class='span6'><%= link_to place.name, place %></div>
      <div class='span2'><%= place.height %></div>
      <div class='span4'>
        <%= wind( place ) %>
      </div>
    </div>

    <br>
<% end %>

<br>

<%= link_to t('.new_paragliding_site'), new_place_path, class: 'btn btn-primary' %>
