<h1><%= t('.paragliding_sites') %></h1>

<br>

<table class='table'>
  <thead>
    <tr>
      <th></th>
      <th><%= t('.info') %></th>
      <th><%= t('.actual') %></th>
      <th><%= t('.wind') %></th>
    </tr>
  </thead>

<% @places.each do |place| %>
    <tr>
      <td class='span5'>
        <h2><%= link_to place.name, place %></h2>
        <br>
        distance...
      </td>
      <td>
        <%= content_tag(:p, content_tag(:span, t('.height')) + raw(place.height), class: '') %>
        <ul>
            <% for point in place.points %>
                <%= content_tag(:li, link_to(point.name, place)) %>
            <% end %>
        </ul>
      </td>
      <td class='span2'><%= paraglide_amount(place) %></td>
      <td class='span3'><%= wind( place ) %></td>
    </tr>
<% end %>

</table>

<br>

<%= link_to t('.new_paragliding_site'), new_place_path, class: 'btn btn-primary' %>
