<h1>
  <%= @place.name %>
</h1>

<% for point in @place.points %>
    <div>
      <%= point.name %>
      <%= wind(point) %>
    </div>
<% end %>

<%= debug(@place) %>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Destroy', @place, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', places_path %>
