<!DOCTYPE html>
<html>
<head>
  <title>Paraglide</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= javascript_tag do %>
    var get_current_location = true;
  <% end unless session[:location] %>
</head>
<body>
    <div class="container">
        <div class="row-fluid">
          <div class='span8'></div>
          <div class='span4 user-menu'>
            <% unless current_user %>
                <%= link_to( t('.log_in_with_facebook'), user_omniauth_authorize_path(:facebook), class: 'btn btn-inverse') %>
            <% else %>
                <div class='row-fluid'>
                  <div class='span8'>
                    <%= image_tag "https://graph.facebook.com/#{current_user.facebook_id}/picture", class: 'img-rounded' %>
                    <%= current_user.email %>
                  </div>
                  <div class='span4'>
                      <%= link_to t('.sign_out'), destroy_user_session_path, class: 'btn btn-inverse' %>
                  </div>
                </div>
            <% end %>
          </div>
        </div>

        <div class="content">
            <div class="row-fluid">
              <div class="span12">
                <%= yield %>
              </div>
            </div>
        </div>

        <br>

        <div>
          <%= debug session if Rails.env.development? %>
          <%= debug params if Rails.env.development? %>
        </div>

    </div>
</body>
</html>
